.relation__form {
  max-width: 600px;

  display: flex;
  flex-direction: column;
}

.relation__form label {
  display: inline-block;
  font-size: 1.8rem;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.relation__form #relationship > div {
  padding: 0.5rem 0;
}

.relation__form--submit {
  margin-top: 2rem;
}
