.relation__form {
  max-width: 600px;

  display: flex;
  flex-direction: column;
}

.relation__form label {
  display: inline-block;
  font-size: 1.8rem;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.relation__form select {
  display: block;
  font-size: 1.6rem;

  width: 100%;
  padding: 1.5rem;

  border: 1px solid #aaa;
}

.relation__form--submit {
  margin-top: 2rem;
}
