.home {
  padding: 8rem 0;
}

.home .container {
  text-align: center;
}

.home h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.home a {
  font-size: 2rem;
}

.home a:hover {
  text-decoration: underline;
}
