.add-people .container {
  text-align: center;
}

.add-people__content h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  margin-bottom: 7rem;

  max-width: 30ch;
  margin-inline: auto;
}

.add-people__form {
  max-width: 600px;
  margin: 0 auto 8rem;
  text-align: left;
}

.add-people__form .form__title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.people-list {
  text-align: left;
}

.people-list h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
